{% extends 'newapp/basestore.html' %}
{% load static %}

{% load cart %}
{% load custom %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Cart</title>
{% endblock %}


{% block content %}

        <div class="container">
    <div class="border rounded p-5 m-7">
        <h3 style="text-align:center; color:white;">Order Summary</h3>

            <div class="form-group">
                <table class="table">
            <thead>
               <th>Sno</th>
               <th>Product</th>
               <th>Product Name</th>
               <th>Product Price</th>
               <th>Quantity</th>
               <th>Total</th>
            </thead>
            <tbody>
                {% for pro in product %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height:80px;" class="rounded-circle" src="/fa/media/{{pro.image}}"></td>
                    <td>{{pro.name}}</td>
                    <td>{{pro.price|rupee}}</td>
                    <td>{{pro|cart_count:request.session.cart}}</td>
                    <td>{{pro|cart_total:request.session.cart|rupee}}</td>
                </tr>
                {% endfor %}
            </tbody>
                    <tfoot>
                <th colspan="4"></th>
                <th calss="text-center">Total</th>
                <th>{{product|cart_sum:request.session.cart|rupee}}</th>
            </tfoot>
                </table>
            </div>
<div class="container">
    <div class="jumbotron">
        <div class="border rounded p-4 m-5">
            <h3 style="text-align:center;">Enter Shipping address And Contact Number</h3>
            <form action="/fa/paymentdone/" method="post" id="myForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Address</label>
                    <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Phone Number</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Total Amount</label>
                    <h3>{{product|cart_sum:request.session.cart|rupee}}</h3>
                </div>
                <div class="form-group">
                    <div  id="paypal-button-container"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <li class="nav-item active list-unstyled mx-4">
          <button class="btn btn-primary btn-lg btn-block"><a class="nav-link" href="{% url 'Home' %}"><b style="color:white;">Healthify-Home</b></a></button>
      </li>
        </div>
{% endblock %}
{% block payment %}
 <script src="https://www.paypal.com/sdk/js?client-id=AYqRFc5RM5cWm2YSl705FouWPJ75pucnuwhbGQtCvgePczNNB4S6Ev2EFSc9tIoIh2JCOaEuFo8ixrSc&currency=USD"></script>
<script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{product|cart_sum:request.session.cart}}'
                        }
                    }]
                });
            },

              onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    window.location.replace("{% url 'order' %}")
                    document.getElementById("myForm").submit();


                    })
    },


        }).render('#paypal-button-container');
    </script>

{% endblock %}



{% block curossel %}
{% endblock %}