{% extends 'newapp/base2.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title>Doctor-form</title>
{% endblock %}




{% block content %}
<br><br>
<div class="container">
<div class="jumbotron" style="width:85%;">
    <h1 style="text-align:center;"><b>Add New Doctor</b></h1>
    <form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Add doctor" class="btn btn-success btn-lg btn-block">
    </form>
    </div>
</div>
{% endblock %}

{% block ca %}
{% endblock %}